html, body {
    min-height: 100%;
    font-family: system-ui;
    font-size: 16px;
}

body {
    background-color: rgb(31, 25, 69);
    color: #dddbff;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px 20px;
}

h2 {
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(113, 91, 252);
}

.recipe-result-image {
    display: block;
    margin: 0 auto;
    height: 280px;
    width: 320px;
    object-fit: cover;
    border-radius: 8px;
}

a, a:visited {
    color: #dddbff;
    font-size: 1.2rem;
}

a:hover, a:focus {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: square;
}

li {
    margin-bottom: 8px;
}

ol li::first-letter {
    font-size: 1.2em;
    font-weight: bold;
}